.home2_bg {
    background: #2FC6A2;
}

.home2_text {
    color: #FF9515;
}

@media screen and (max-width:512px) {
    .storySection {
        margin-top: 1670px;
    }
}

@media (min-width:513px) and (max-width:522px) {
    .storySection {
        margin-top: 1300px;
    }
}

@media (min-width:523px) and (max-width:639px) {
    .storySection {
        margin-top: 1670px;
    }
}

@media (min-width: 640px) {
    .storySection {
        margin-top: 1670px;
    }
}

@media (min-width: 768px) {
    .storySection {
        margin-top: 1000px;
    }
}

@media (min-width: 1024px) {
    .storySection {
        margin-top: 550px;
    }
}

@media (min-width: 1280px) {
    .storySection {
        margin-top: 250px;
    }
}

@media (min-width: 1536px) {
    .storySection {
        margin-top: 250px;
    }
}

.pw_analy_shadow {
    box-shadow: 0px 0px 20px -18px;
}


/* switch__ */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 28px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: black;
}

input:focus+.slider {
    box-shadow: 0 0 1px black;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.hov:hover {
    transition: .5s;
    transform: translateY(-30px);
}

.hov:hover h3 {
    color: white;
}

.hov:hover p {
    color: white;
}

.hov:hover .hovi {
    color: white;
}

.hov:hover button {
    background: white;
    color: #2FC6A2;
}

/* navbar */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    border-bottom: 1px solid #E2E8F0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link {
    font-size: 1.6rem;
    font-weight: 400;
    color: #475569;
}


.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #000;
}

@media only screen and (max-width: 1024px) {
    .nav-menu {
        padding-bottom: 100vh;
        position: fixed;
        left: -100%;
        top: 0rem;
        flex-direction: column;
        background: #2FC6A2;
        z-index: 50;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    /*  */
    .hamburger {
        display: block;
        cursor: pointer;
        z-index: 100;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

.home-child {
    visibility: hidden;
    transition: .3s;

}

.nav-wrapper:hover .home-child {
    visibility: visible;
    transition: .3s;
}

.login {
    box-shadow: 0px 0px 6px -4px;
    border-radius: 4px;
}

.dropdown {
    display: none;
    /* Initially hidden */
}

.dropdown.open {
    display: block;
    /* Displayed when the 'open' class is added */
}